:root {
    --Honeydew: #E9EEE3;
    --Orange: #FFAE03;
    --Lapis_Lazuli: #05668D;
    --Chili_red: #E9190F;
    --Black: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
    background: var(--Honeydew); 
}

  ::-webkit-scrollbar-thumb {
    background: var(--Lapis_Lazuli); 
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--Black); 
}

html {
    font-family: "Fira Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header__navigation {
    display: flex;
    height: 57px;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Lapis_Lazuli);
    overflow: hidden;
    gap: 12px;
}

.logomain {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__navigation .logomain > p {
    font-size: 25px;
    color: var(--Orange);
    font-weight: normal;
    margin: 0;
}

.header__navigation img {
    height: -webkit-fill-available;
}

.hamburgermenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hamburgermenu > * {
    background-color: #E9190F;
    height: 10px;
    width: 55px;
}

.hamburger__line--1 {
    transition: .5s;
    transform-origin: top left;
}

.hamburger__line--2 {
    transition: .5s;
    position: relative;
}

.hamburger__line--3 {
    transition: .5s;
    transform-origin: bottom left;
}

.active1 {
    transform: translateX(15px) rotate(45deg);
}

.active2 {
    transform: translateX(50px);
    filter: opacity(0);
}

.active3 {
    transform: translateX(15px) rotate(-45deg);
}

.changeable {
    position: fixed;
    right: 0;
    transform: translateX(300px);
    top: 70px;
    z-index: 999;
}

.nav--active {
    transform: translate(0);
    position: absolute;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    background-color: var(--Lapis_Lazuli);
    color: var(--Orange);
    padding: 15px 50px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
}

.menu .menu__buy {
    background-color: var(--Chili_red);
    display: flex;
    align-items: center;
    gap: 10px;
}

.button__buy--button {
    background-image: url(../sources/ikona-košík.svg);
    width: 25px;
    height: 25px;
    transition: .3s;
}

.menu li {
    list-style: none;
    height: fit-content;
}

.menu__buy p {
    margin: 0;
    color: var(--Honeydew);
}

main {
    background-color: var(--Honeydew);
}

main h1 {
    text-align: center;
    margin: 0;
}

article {
    padding: 15px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainphoto {
    width: -webkit-fill-available;
    margin: 15px auto;
    max-width: 500px;
}

.button__buy {
    display: flex;
    background-color: var(--Chili_red);
    width: min-content;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 auto;
}

.button__buy p {
    margin: 0;
    text-decoration: none;
    color: var(--Honeydew);
    font-size: 20px;
}

.button__buy:hover {
    background-color: var(--Lapis_Lazuli);
    transition: .3s;
}

.videorotate {
    width: -webkit-fill-available;
    margin: 25px 0;
    border-radius: 20px;
}

.video__popis {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
}

.charakteristika__h2 {
    text-align: center;
    margin: 0;
    font-weight: normal;
    padding: 15px 0;
}

.charakteristika__text {
    display: flex;
    justify-content: space-between;
}

.charakteristika__text--big {
    font-size: 24px;
}

.charakteristika__text--right {
    justify-content: end;
    font-size: 20px;
}

.charakteristika__text--leftpadding {
    padding-left: 25px;
    font-size: 20px;
}

.colour {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Lapis_Lazuli);
    padding: 30px 15px;
}

.colour__video {
    width: 250px;
    border-radius: 225px;
    height: 250px;
}

.colour > p {
    color: var(--Honeydew);
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin: 50px 0;
}

.kontakt {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontakt__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontakt h3 {
    color: var(--Lapis_Lazuli);
    text-align: center;
    font-size: 24px;
}

.kontakt__flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontakt__input {
    position: relative;
}

.kontakt__line {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kontakt__text {
    box-sizing: border-box;
    height: 44px;
    background-color: var(--Honeydew);
    border: 3px solid var(--Lapis_Lazuli);
    border-radius: 10px;
    padding: 0px 15px;
    width: 100%;
}

.kontakt__text:focus {
    outline: none;
    border-color: var(--Chili_red);
}

.kontakt__text:focus ~ label {
    top: -20px;
    left: 8px;
    transition: .5s;
    padding: 0;
    color: var(--Chili_red);
}

.kontakt label {
    position: absolute;
    padding: 0.25em;
    top: -15px;
    left: 25px;
    background-color: var(--Honeydew);
    color: var(--Lapis_Lazuli);
    transition: .5s;
}

.kontakt__text::placeholder {
    font-size: 18px;
    color: var(--Lapis_Lazuli);
}

.kontakt__input--zprava {
    position: relative;
    height: 150px;
}

.kontakt__text--zprava {
    height: 100%;
    padding-top: 10px;
}

.kontakt__text[type=text] {
    font-size: 18px;
    color: var(--Lapis_Lazuli);
}

.kontakt__text--zprava::placeholder {
    font-family: "Fira Sans", sans-serif;
}

.kontakt__text--zprava[name=text] {
    font-family: "Fira Sans", sans-serif;
    padding-top: 10px;
    color: var(--Lapis_Lazuli);
    font-size: 18px;
}

.external {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.external__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.external__img {
    width: 150px;
    height: auto;
}

.external__text {
    text-align: center;
    font-size: 20px;
    color: var(--Lapis_Lazuli);
    font-weight: bolder;
}

footer {
    background-color: var(--Black);
    padding: 30px 15px;
}

.footer__logo {
    gap: 50px;
    display: flex;
    justify-content: center;
}

.footer__logo > img {
    width: 100px;
    height: auto;
}

.footer__logo > p {
    color: var(--Honeydew);
    font-size: 24px;
    margin: auto 0;
}

.menuandauthor {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.menuandauthor menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.menuandauthor li {
    list-style: none;
}

.menuandauthor a {
    color: var(--Honeydew);
    font-size: 24px;
    text-decoration: none;
}

.menuandauthor__author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuandauthor__author p {
    color: var(--Honeydew);
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.menuandauthor__author img {
    width: 80px;
    height: auto;
    border-radius: 5465465456px;
}

.swiper {
    --swiper-navigation-color: var(--Lapis_Lazuli);
    --swiper-pagination-color: var(--Lapis_Lazuli);
}

.wtf2 {
    display: none;
}

.galerie {
    display: none;
}

@media only screen and (min-width: 620px) {

    .menuandauthor {
        justify-content: center;
        gap: 150px;
    }

    .menuandauthor nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menuandauthor menu {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {

    .header__navigation .logomain > p {
        font-size: 32px;
    }

    .header__navigation {
        box-sizing: border-box;
        height: 140px;
        padding: 15px 50px;
    }

    .hamburgermenu {
        display: none;
    }

    .changeable {
        position: inherit;
        transform: translate(0);
    }

    .changeable menu {
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap: 30px;
        align-items: center;
    }

    .changeable menu a {
        font-size: 20px;
        padding: 0;
    }

    .menu .menu__buy {
        align-items: unset;
        padding: 20px 30px;
        border-radius: 10px;
        transition: .3s;
    }

    .menu__buy > p {
        font-size: 20px;
        transition: .3s;
    }

    .logomain {
        height: 90%;
        gap: 30px;
    }

    .menu__underline {
        width: 0%;
        height: 3px;
        background-color: var(--Orange);
        transition: .5s;
    }

    .menu li:hover .menu__underline {
        width: 100%;
        transition: .5s;
    }

    .menu__buy:hover .button__buy--button {
        background-image: url(../sources/ikona-košík-black.svg);
        transition: .3s;
    }

    .menu__buy:hover {
        background-color: var(--Honeydew);
        transition: .3s;
    }

    .menu__buy:hover p {
        color: var(--Black);
    }

    .intro {
        flex-direction: row;
        gap: 50px;
        padding: 0 35px;
    }

    .intro__text {
        gap: 11px;
    }

    .intro__text p {
        margin-top: 0;
    }

    main h1 {
        text-align: left;
    }

    .button__buy {
        margin: 0;
    }

    .wtf1 {
        display: none;
    }

    .wtf2 {
        display: block;
    }

    .popis {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
        padding-left: 35px;
        padding-right: 35px;
        justify-content: center;
    }

    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .videorotate {
        max-width: 1000px;
        width: 100%;
    }

    .charakteristika {
        flex-grow: 1;
        max-width: 600px;
    }

    .charakteristika__h2 {
        text-align: left;
    }

    .videorotate {
        margin: 0;
    }

    .colour {
        flex-direction: row;
        padding: 40px;
        gap: 200px;
    }

    .skew {
        display: block;
        height: 50px;
        width: 100%;
        background: linear-gradient(to top right, var(--Lapis_Lazuli) 50%, rgba(0, 0, 0, 0) 51%);
    }

    .opposite {
        background: linear-gradient(to top right, rgba(0, 0, 0, 0) 50%, var(--Lapis_Lazuli) 51%);
    }

    .opposite1 {
        background: linear-gradient(to top left, var(--Lapis_Lazuli) 50%, rgba(0, 0, 0, 0) 51%);
    }

    .swiper .swiper-wrapper {
        display: none;
    }

    .swiper .swiper-pagination {
        display: none;
    }

    .swiper .swiper-button-prev {
        display: none;
    }

    .swiper .swiper-button-next {
        display: none;
    }

    .swiper .swiper-scrollbar {
        display: none;
    }

    .galerie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 0 50px 100px 50px;
    }

    .galerie img {
        width: 100%;
    }

    .kontakt {
        background-color: var(--Lapis_Lazuli);
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 50px;
    }

    .kontakt__input {
        flex-grow: 1;
    }

    .kontakt__left {
        flex-grow: 1;
        max-width: 700px;
    }

    .kontakt h3 {
        color: var(--Honeydew);
        font-weight: normal;
        margin: 0;
    }

    .kontakt__line {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .kontakt__text {
        background-color: var(--Lapis_Lazuli);
        border: 3px solid var(--Honeydew);
    }

    .kontakt__text[type=text] {
        color: var(--Honeydew);
    }

    .kontakt__text::placeholder {
        color: var(--Honeydew);
    }

    .kontakt label {
        background-color: var(--Lapis_Lazuli);
        color: var(--Honeydew);
    }

    .kontakt__text--zprava[name=text] {
        color: var(--Honeydew);
    }

    .external {
        justify-content: start;
        gap: 50px;
        position: relative;
        top: -50px;
    }

    .external--flex {
        display: flex;
        gap: 50px;
    }

    .external__text {
        color: var(--Honeydew);
        font-weight: normal;
    }

    .external__img {
        height: 150px;
    }

    .send:hover {
        background-color: var(--Honeydew);
    }

    .send:hover p {
        color: var(--Black);
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
    }

    .footer__logo {
        align-items: center;
    }

    .footer__logo > img {
        height: 100px;
    }

    .menuandauthor {
        gap: 150px;
        padding: 0;
    }

    footer .menu__underline {
        background-color: var(--Honeydew);
    }

    footer menu li:hover .menu__underline {
        width: 100%;
        transition: .5s;
    }
}

@media only screen and (min-width: 1400px) {
    .header__navigation {
        height: 140px;
        padding: 15px 130px;
    }

    .intro {
        padding: 0 115px;
        justify-content: space-between;
        max-width: 1725px;
        margin: 0 auto;
    }

    .mainphoto {
        margin: 0;
    }

    .popis {
        padding-left: 115px;
        padding-right: 115px;
    }

    .colour {
        padding-left: 300px;
        padding-right: 300px;
        height: 400px;
    }

    .skew {
        height: 100px;
    }

    .galerie {
        padding: 0 115px 100px 115px;
    }

    .kontakt {
        padding: 30px 130px;
    }

    footer {
        padding: 30px 130px;
    }
}